<form ng-submit="cadastrarNota()" class="form-horizontal col-sm-4 top">
			<div class="form-group">
				<label for="aluno" class="col-sm-2 control-label">Aluno</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="aluno" id="aluno" value="" placeholder="Informe matrícula ou nome" ng-model="aluno" required autocomplete >
				</div>
			</div>
			<div class="form-group">
				<label for="pf1" class="col-sm-2 control-label">PF1</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="pf1" id="pf1" value="" placeholder="Digite a pf1" ng-model="pf1" required autocomplete>
				</div>
			</div>
			
			<div class="form-group">
				<label for="pf2" class="col-sm-2 control-label">PF2</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="pf2" id="pf2" value="" placeholder="Digite a pf2" ng-model="pf2" required autocomplete>
				</div>
			</div>
	      	<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-floppy-open"></span> ENVIAR</button>
</form>