<div class="container-fluid">
	<section class="row top">
		<div class="col-md-5 text-center"><img src="imagens/logo.jpg" /> <h1>Sistema Acadêmico WEB</h1></div>
		<div class="col-md-6 text-center top-center"><strong>Tecnologias </strong> : <img src="imagens/bootstrap.jpg" /> <span class="glyphicon glyphicon-plus"></span> <img src="imagens/angular.png" /> <span class="glyphicon glyphicon-plus"></span> <img src="imagens/pdo.jpg" /> </div>
	</section>
</div>
<div class="alert alert-info text-center" role="alert">	
<p>Desenvolvido por <strong>Jackson Daniel</strong> e <strong>Thiago Marques</strong>, 2014</p>
</div>