<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<title></title>
</head>
<body><br><br>
	<form ng-submit="cadastrar()">
		<div class="form-group col-md-4">
	    	<label for="matricula" class="col-sm-2 control-label">Matricula</label>
	    		<input type="number" class="form-control" id="matricula" name="matricula" value="" placeholder="Digite a matricula" ng-model="matricula" required autocomplete ><br>
			
			<label for="nome" class="col-sm-2 control-label">Nome</label>
				<input type="text" class="form-control" id="nome" name="nome" value="" placeholder="Digite o nome" ng-model="nome" required autocomplete ><br>
			
			<label for="idade" class="col-sm-2 control-label">Idade</label>
				<input type="number" class="form-control" id="idade" name="idade" value="" placeholder="Digite a idade" ng-model="idade" required autocomplete ><br>
			
			<label for="email" class="col-sm-2 control-label">Email</label>
				<input type="email" class="form-control" id="email" name="email" value="" placeholder="Digite o email" ng-model="email" required autocomplete ><br>
			
			<div class="col-sm-2">
      			<button type="submit" class="btn btn-default">CADASTRAR</button>
    		</div>
  		</div>
	</form>
</body>
</html>